*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
    color: white;
}

/* header*/

@font-face {
    font-family: 'ss';
    src: url(./font/NooplaRegular.ttf);
}
header{
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
}
.containers{
    width: 100%;
    background: rgba(0, 0, 0, 0.377);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(104, 103, 103, 0.144);
}
.logo h1 {
    padding: 10px;
}
#headlines{
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer;
}
nav ul li{
    display: block;
    position: relative;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
}
nav ul li a::after{
    position: absolute;
    content: '';
    width: 0%;
    background-color: rgb(226, 142, 45);
    height: 3px;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#close{
    font-size: 40px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}

nav{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.897);
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    transition: all 0.6s;
}

/*main*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
}
/*mission section*/
#mission{
    justify-content: space-between;
    position: relative;
    background-image: url(./images/fixbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.box{
    display: inline-flex;
    background-color: rgba(29, 29, 29, 0.7);
    width: 50%;
    height: 700px;
}
.tittle{
    padding-right: 20px;
    padding-bottom: 100px;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
}
.tittle h1{
    font-family: 'Josefin Sans', sans-serif;
}
.description{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.inner{
    width: 350px;
    display:flex ;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:100%;
    background-color: rgb(255, 255, 255);
}
.inner h3{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 36px;
}
.inner h3::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 3px;
    border-radius: 6px;
    background-color: rgb(245, 147, 35);
    bottom: -10px;
    left: 0;
}
.inner p{
    color: black;
    margin-top: 20px;
    width: 70%;
    text-align: justify;
    max-width: 300px;
    max-height: 400px;
    padding-bottom: 100px;
}

#contact{
    width: 100%;
    height: 200vh;
}


.grid-container{
    display: grid;
    width: 100%;
}


/*product section*/
#portfolio{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, minmax(400px, 400px));
    grid-template-areas: 
    "project project project-1 project-2"
    "project project project-3 project-3"    
    "project-4 project-5 project-6 project-6"    
    ;
}
#project{
    align-items: center;
    justify-content: center;
    grid-area: project;
    background-image: url(./images/backgr.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#project h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 50px;
}

#project-1{
    opacity: 1;
    grid-area: project-1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/car-5.jpg);
}
#project-2{
    grid-area: project-2;
    background-image: url(./images/car-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#project-3{
    grid-area: project-3;
    background-image: url(./images/car-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#project-4{
    grid-area: project-4;
    background-image: url(./images/car-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#project-5{
    grid-area: project-5;
    background-image: url(./images/car-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#project-6{
    grid-area: project-6;
    background-image: url(./images/car-6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-box{
    display: grid;
    position: relative;
    cursor: pointer;
}

.boxes{
    height: auto;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    opacity: 0;
    transition: 0.3s;
}
.boxes h1{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
}
.grid-box:hover .boxes{
    opacity: 1;
    transition-duration: 0.3s;
}


/*team section*/
#team{
    width: 100%;
    display: block;
}
#team .grid-container{
    grid-template-rows: repeat(5, minmax(100px, 100px));
    grid-template-columns: repeat(22, 1fr);
}

#banner-title h1{
    color: black;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
}
#banner-title{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 1 / 3 / 25;
}
#banner-desc{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 3 / 5 / 21;
}
#banner-desc p{
    color: black;
    line-height: 25px;
}
.team-box{
    width: 100%;
}
#flex-outer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.flex-inner{
    width: 20%;
    margin: 10px;
    display: inline-flex;
}
.image-box{
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: 0.3s;
    margin-bottom: 20px ;
}
.image-box ul li{
    display: inline-block;
    color: black;
    margin: 20px;
}
.image-box ul li a{
    text-decoration: none;
    color: black;
    border-radius: 50%;
    background-color: white;
    font-size: 1.6rem;
    padding: 10px;
    transition: 0.3s;
}
.image-box ul{
    display: flex;
    height: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.image-box img{
    margin: 10px;
}
.image-box:hover img{
    transform: scale(1.3);
}
.image-box:hover ul{
    height: 25%;
    opacity: 1;
    transition: 0.3s;
}
.image-box ul li:hover a{
    background-color: rgb(206, 21, 92);
    transition: 0.3s;
    color: white;
}